@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #fff;
}

body {
  min-height: 100vh;
  /* background-color: dodgerblue; */
}

/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
} */

/* section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
} */

/* form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
} */

a,
a:visited {
  color: #fff;
}
a{
  text-decoration: none;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.45rem;
  border-radius: 0.5rem;
}

/* label,
button {
  margin-top: 1rem;
} */

/* button {
  padding: 0.5rem;
} */

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


::-webkit-scrollbar {
  display: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* /* -------------------- */
body {
  background-color: #081C15;
  margin-top: 1rem;
  overflow-x: hidden;
  transition: all 0.3s;
}

h1 {
  color:
    #D8F3DC;
  line-height: 75px;
  letter-spacing: 0em;

}

h3 {

  color:
    white;
  letter-spacing: 0em;
  margin-bottom: 2rem;

}

.radial {
  background: radial-gradient(50% 50% at 50% 50%, #1B4332 0%, rgba(27, 67, 50, 0) 100%);
  position: absolute;
  top: -12rem;

  height: 30rem;
  width: 50rem;
  z-index: -10;
  left: 50%;
  margin-left: -25rem;
  filter: blur(15px);
}


.container {
  background-color: rgb(255, 255, 255);
  color: white;
  width: 446px;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;

  top: 296px;
  left: 433px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  background: linear-gradient(130.61deg, rgba(82, 183, 136, 0.8) -16.98%, rgba(82, 183, 136, 0.2) 106.52%);

  border: 1px solid #688C78
}

.container input {
  margin: auto;
  width: 400px;
}

.container input::placeholder {
  color: #575757;
}

.btn {
  color: black;
  font-weight: 500;
  width: 400px;
  background-color: #2D6A4F;
  border: 1px solid;
}

.btn:hover {
  background-color: #D8F3DC;
  color: black;
}

.right,
.left {
  position: absolute;
  width: 399px;
  height: 319px;
  top: 150px;
  left: 493px;
  angle: -180 deg;

}

.left {
  left: -15%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.right {
  height: 419px;
  width: 800px;
  position: absolute;
  left: 55%;
  top: 100px;


}

/* --------------------------Navbar-------------------------------------------
 */

.navbar {
  background-color: #081C15;
}

.logo {
  width: 60.1px;
  height: 50px;
  top: 8px;
  left: 29px;
  padding: 0.39px, 0px, 0px, 0px;

}

.nav-link {
  color: #74C69D;
  margin: 0.5rem;
}

.nav-link:hover {
  color: #74C69D;
}

.nav-link:active {
  color: #D8F3DC;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #95D5B2;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 2px;
  bottom: 4px;
  left: 3px;
  background-color: #95D5B2;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btnsm {
  height: 3rem;
}

/* ---------------------------------------------Banner--------------------------------- */
.carousel {
  height: 5rem;
  width: 100vw;
}

.carousel img {
  height: 5rem;
  width: 100vw;
}

/* ------------------------------------ */
.Header button {
  margin-right: 1rem;
}

.ulist {
  margin: auto;
}

.ulist li {
  margin: 1rem;
  width: 12rem;
  height: 17rem;
  top: 182px;
  left: 375px;
  border-radius: 20px;
  border: 1px solid #40916C;
  transition: all 0.2s;

}

.ulist li:hover {
  transform: scale(1.08);

}

.cont {
  padding: 1rem;
}

.ulist img {
  width: 12rem;
  height: 14rem;
  border-radius: 20px;
  padding: 0.5rem;
}